@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

.App {
  box-sizing: border-box;

}

.nav {
  display: flex;
  width: 550px;
  height: 70px;
  background: #FFFFFF;
  padding-left: 30px;
  align-items: center;
  box-shadow: 0px 2.98px 7.46px rgba(0, 0, 0, 0.1);
}

.airbnb-logo {
  width: 82px;
  height: 25px;
}

.hero {
  margin-left: 36px;
  font-family: 'Poppins';
  font-style: normal;
  width: 550px;
}

.hero-image {
  height: 232px;
  width: 396px;
  margin-left: 41px;
  margin-top: 26px;
}

.hero-heading {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 36px;
}

.hero-content {
  margin-top: 0;
  font-size: 16px;
  font-weight: 300;
  width: 320px;
}

.Card {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 176px;
  margin-left: 37px;
}

.Card-image {
  margin-top: 0;
  height: 235px;
  border-radius: 10px;
}

.Card-details {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 15px;
}

.all-cards {
  display: flex;
  width: auto;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  overflow-x: auto;
}

.Card-badge {
  border: 1px solid silver;
  border-radius: 10px;
  width: 80px;
  font-weight: bold;
  background: silver;
  opacity: 60%;
  top: 3px;
  right: 71px;
  position: absolute;
  padding: 0 10px;

  
}
